body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: #eeecec;
}

.container {
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
}
.card-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.card-header input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    border:none;
    border: 1px solid rgb(200, 198, 198);
}

.add-box input,
.add-box select {
    width: 40%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    border:none;
    border: 1px solid rgb(200, 198, 198);
    margin: 0;
}
.add-box button {
    width: 18%;
    box-sizing: border-box;
    padding:10px;
    border:none;
    cursor: pointer;
    font-size: 16px;
    background: #0c7dc9;
    color: #ffe;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    list-style: none;
}
ul li {
    background: #fff;
    padding: 12px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 4px;
}
.fa-trash {
   background: red;
   cursor: pointer;
   padding: 10px;
   border-radius: 40px;
   width: 10px;
   height: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #ffc;
}
.error {
    border:1px solid red !important;
}
h1 {
    opacity: 0.8;
}

@media(max-width:900px) {
    .container {
        width: 90%;
    }
}
@media(max-width:600px) {
    .container {
        width: 97%;
    }
}
